body{
    margin: auto;
    background-image: url("https://i.ibb.co/z2YKw1q/Purple.png");
}

header{
    height: 50px;
}

#headername{
    float: left;
    color: #5b1666;
}

#hname{
    font-size: 40px;
    font-family: Geneva;
}

#clickg{
    font-size: 20px;
    font-weight: bolder;
    color: #5b1666;
}

#social{
    float: right;
}

.slogo{
    height: 50px;
    width: 50px;
}

a{
    text-decoration: none;
}

#welcome{
    background-image: url("https://i.ibb.co/k4rV8XY/Blue.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 550px;
    width: 100%;
}

.welthank{
    font-size: 100px;
    text-align: center;
    color: aliceblue;
    font-family: Cambria;
}

#picture{
    border: groove;
    border-color: rgb(8, 58, 58);
    border-width: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#photo{
    height: 400px;
    width: 100%;
    
}

#name{
    text-align: center;
    font-size: 50px;
    color: rgb(6, 31, 53);
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

.heads{
    font-size: 50px;
    background-image: url("https://i.ibb.co/k4rV8XY/Blue.jpg");
    color: aliceblue;
    margin-top: 2%;
}
/*
.underline{
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
}
*/
.aboutme{
    font-size: 40px;
    text-align: center;
    color: black;
}

#table{
    text-align: center;
    font-size: 22px;
    margin-top: 3%;
    color: black;
}

.thead{
    text-align: center;
    font-size: 25px;
}

#tabledata{
    font-family: Segoe UI;
    font-weight: bold;
    color: rgb(20, 17, 17);
}

.skill{
    height: 100px;
    width: 100px;
    border-style: inset;
    border-color: black;
    border-width: 2px;
    background-color: white;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 3%;
}

#skilll{
    height: 100px;
    width: 200px;
    border-style: inset;
    border-color: black;
    border-width: 2px;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 3%;
}

.hobby{
    height: 100px;
    width: 200px;
    border-style: inset;
    border-color: black;
    border-width: 2px;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
}

#hobbby{
    height: 100px;
    width: 100px;
    border-style: inset;
    border-color: black;
    border-width: 2px;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
}

#map{
    margin-top: 3%;
    margin-bottom: 3%;
}

#contactme{
    margin-top: 3%;
}

#formheadd{
    font-size: 30px;
    font-weight: bold;
}

.forrm{
    font-size: 20px;
}

.geender{
    font-size: 15px;
    margin-left: 3%;
}

#natureback{
    background-image: url("https://i.ibb.co/GVxdWq9/nature.jpg");
    background-repeat: no-repeat;
    background-size: 100% 145%;
}

#formm{
    margin-top: 1%;
}

#thankback{
    background-image: url("https://i.ibb.co/k4rV8XY/Blue.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contactt{
    font-size: 30px;
    color: ghostwhite;
    font-family: Verdana;
}

.contact{
    font-size: 40px;
    text-align: center;
    color: black;
    font-family: Verdana;
    font-weight: bold;
}

#submitt{
    float: right;
    font-size: 20px;
}

#copyright{
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
    font-weight: bolder;
    border-top: solid;
    border-top-color: black;
    border-top-width: 2px;
    margin-top: 3%;
}