body{
    margin: auto;
    background-image: url("https://i.ibb.co/rZ7QxV3/nature.jpg");
    background-size: 100% 1550px;   
}

#header{
    border-bottom-style: groove;
    border-bottom-color: rgb(51, 120, 133);
}

#name{
   text-align: left;
   color: rgb(229, 181, 32);
   margin-left: 50px;
   font-size: 20px;
   font-family: Cambria;
}

#social{
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

a{
    text-decoration: none;
}

.slogo{
    height: 40px;
    width: 40px;
}

#picture{
    float: left;
    margin-left: 30px;
    border: rgb(51, 120, 133);
    border-style: groove;
    border-width: 5px;
    background-image: url("https://i.ibb.co/9hfXKC3/Star.png");
    background-repeat: no-repeat;
    background-size: 100% 600px;
    margin-top: 40px;
}

#sam{
    float: right;
    text-align: center;
    font-size: 26px;
    color: rgb(13, 44, 8);
    margin-right: 15px;
    margin-top: 40px;
}

#headskill{
    color: rgb(8, 7, 221);
    font-size: 30px;
    text-align: center;
    margin-top: 360px;
}

.skill{
    height: 100px;
    width: 100px;
    border: darkseagreen;
    border-style: inset;
    background-color: white;
}

#skilll{
    height: 100px;
    width: 200px;
    border: darkseagreen;
    border-style: inset;
    background-color: white;
}

#skil{
    margin-left: 500px;
}

#headmap{
    color: rgb(8, 7, 221);
    font-size: 30px;
    text-align: left;
    margin-top: 80px;
    margin-left: 100px;
}

#footer{
    color: wheat;
    text-align: center;
    font-size: 30px;
}